.apply-section {
  padding: 100px 20px;
  background: rgb(230, 226, 226);
  display: flex;
  justify-content: center;
}

.apply-container {
  background: #ffffff;
  max-width: 550px;
  width: 100%;
  padding: 50px 40px;
  border-radius: 20px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.25);
  text-align: center;
  animation: fadeUp 0.8s ease forwards;
}

.apply-container h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #222;
}

.apply-container p {
  color: #555;
  margin-bottom: 35px;
}

/* Form */
.apply-form .form-group {
  margin-bottom: 20px;
}

.apply-form input,
.apply-form select {
  width: 100%;
  padding: 14px 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 0.95rem;
  transition: all 0.3s ease;
}

.apply-form input:focus,
.apply-form select:focus {
  border-color:brown;
  box-shadow: 0 0 0 2px rgba(255, 153, 0, 0.25);
  outline: none;
}

/* Checkbox */
.checkbox-group {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  color: #444;
  margin-bottom: 30px;
}

/* Button */
.submit-btn {
  width: 100%;
  padding: 15px;
  border-radius: 12px;
  border: none;
  background:brown;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.35s ease;
}

.submit-btn:hover {
  background: brown;
  transform: translateY(-3px);
  box-shadow: 0 15px 35px rgba(255, 153, 0, 0.4);
}

/* Animation */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(35px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
